html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  }

 body.open-menu{
 	overflow: hidden;
 	height: 100vh;
 }
 .logo{
 	display: flex;
 }
.header{
	background: #000000;
	padding: 20px 30px 24.42px 30px;
/*	position: relative;*/
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	top: 0;
}
.hambuger{
	position: absolute;
	right: 40px;
/*	display: block;*/

}
.hambuger img{
	width: 30px;
	height: 30px;
}
.navbar{
	 	position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 307px 176px 330px 166px;
		transform: translateX(-100%);
		transition: transform 0.8s;
}
.navbar.active{
    transform: translateX(0%);
}	


.header a{
	text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;

color: #FFFFFF;
}

.header li{
	margin: 0;
	padding: 0;
}
.navigation{
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 40px 0;
	
}
.navigaton-row{
	display: flex;
	flex-direction: column;
}

.navigaton-row::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #FFFFFF;
	transition: width  0.8s;
}
.navigaton-row:hover::after{
	width: 100%;
}

@media screen and (min-width: 768px) {
	.header{
		    padding: 34px 70px 42px 70px;
	}
	.navbar{
		position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 266px 344px 330px 334px;
	}
	.header a{
			font-size: 20px;
	}
}

/*-----Larg-----*/
@media screen and (min-width: 1200px) {
	.header{

	display: flex;
	background: #000000;
	padding: 34px 220px 33.42px 220px;
	justify-content: space-between;


}
.hambuger{
	position: absolute;
	right: 40px;
	display: none;
}
.navbar{
	padding: 0px;
	display: flex;
	gap: 0 40px;
	position: initial;
	transform: none;
	transition: none;

}

.navigation{
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 40px;
}


}