html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
}
body{

}
ol, ul {
  list-style: none;
}

.bycicles{
	   margin: 0 70px;

}
.bycicle-item p{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
margin-left: 20px;
margin-top: 8px;
}
.bycicle-list{
	display: flex;
	gap: 0 40px;

	 margin-bottom: 200px;
}
.bycicle-item img{
	width: 100%;
}
.circle{
  color: #FFBB00;
}
.item-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 30px;
	grid-column-gap: 40px;
}
.bycicle h2{
	margin-left: 220px;
	margin-bottom: 40px;
}
h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 72px;
	color: #111111;
}
.rectangle{
  width: 12px;
	height: 8px;
  background: #FFBB00;
  margin-right: 8px;
}
.title-card h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;  
}
.title-card{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.card-item{
	grid-column: span 4;
}
.card-item p{
  margin-left: 20px;
  margin-top: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {

	h2{
		font-size: 30px;
	}
	.item-list{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	row-gap: 30px;
	grid-column-gap: 40px;
	}
	.card-item{
	grid-column: span 8;
	}
	.title-card h4{
 	font-size: 32px;
	}
	.card-item p{
 font-size: 22px;
	}
}

/*-----Larg-----*/
@media screen and (min-width: 1200px) {

	h2{
		font-size: 50px;
	}
	.item-list{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap:40px ;
	}
	.card-item{
	grid-column: span 6;
}
.title-card h4{
 font-size: 32px;
}
.card-item p{
 font-size: 22px;
}
}